@model Audit.Web.Models.AuditViewModel


<div class="form-group">
    @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="col-xs-6">
            @Html.TextBoxFor(model => model.Date, "{0:d}", new { @class = "form-control", type = "dated", @Value = "" })
            @Html.ValidationMessageFor(model => model.Date)
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="col-xs-6">
            @Html.TextAreaFor(model => model.Description, new { cols = "5", rows = "3", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.IsExternal, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="col-xs-6">
            @Html.CheckBoxFor(x => x.IsExternal)
        </div>
    </div>
</div>