@model Audit.Web.Models.SystemAuditViewModel

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="pull-left">
        <h3>Create System Audit</h3>
    </div>
</div>

<div class="breadcrumbs">
    <ul>
        <li>
            <a href="@Url.Action("CreateSystemAudit", "Audit")">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#" class="current"></a>
        </li>
    </ul>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3>
                    <i class="fa fa-th-list"></i>
                </h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm("CreateSystemAudit", "Audit", FormMethod.Post, new { @class = "form-horizontal form-bordered" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)


                    @Html.Partial("_Audit", Model)


                    <div class="form-group">
                        @Html.LabelFor(model => model.CertificationTypeList, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="col-xs-6">
                                @Html.DropDownListFor(model => model.CertificationTypeID, Model.CertificationTypeList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CertificationTypeID)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CertificationElementList, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="col-xs-6">
                                @Html.DropDownListFor(model => model.CertificationElementID, Model.CertificationElementList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CertificationElementID)
                            </div>
                        </div>
                    </div>

                     
                    
                    <div class="form-actions  col-sm-12">
                        <button type="submit" class="btn pull-right btn-primary">Save Changes</button>
                        <a href="#" class="btn pull-right btn-default">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

